@import "fontAwesome/font-awesome";

@import "modules/mixins";

@import "partials/general-max-width";
@import "partials/header-footer.scss";
@import "partials/standard-styles";
@import "partials/home-page";

@import "vendor/grids";
@import "vendor/normalize";

* {
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
      box-sizing: border-box;
}

