/* Global Standard Styles */

html, body {
  overflow-x: hidden;
}

body {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  /*color: #FFFFFF;*/
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  text-align: left;
}

a {
  text-decoration: none;
  color: inherit;
}

p, .issues {
  font-family: "Georgia", Palatino Linotype, Times New Roman, serif;
  font-size: 17px;
  text-align: left;
  letter-spacing: 0.17px;
  line-height: 32px;
  margin: 0 auto;
}

/* =========== HOME PAGE ============ */

.my_name, .title, .project_type, .about_title {
  text-align: center;
}

.title {
  font-size: 29px;
  font-weight: 700;
  color: #FFFFFF;
  margin-bottom: 25px;

  @media (min-width: 411px){
    font-size: 32px;
  }

  @media (min-width: 750px){
    margin-top: 0;

  }

  @media (min-width: 768px){
    font-size: 36px;
  }
}

.project_type {
  font-size: 18px;
  font-weight: 400;
  margin-top: -15px;
  margin-bottom: 15px; 
  color: #FFFFFF;

  @media (min-width: 411px){
    font-size: 20px;
  }

  @media (min-width: 768px){
    font-size: 24px;
  }
}

.project_image_preview {
  padding-top: 10px;
  padding-bottom: 42px;
} 

.btn {
border: 1px solid #FFFFFF;
border-radius: 100px;
font-weight: 400;
font-size: 14px;
color: #FFFFFF;
letter-spacing: 0.15px;
text-align:center;
text-decoration: none;
padding: 15px 40px;
}

/* =========== CASE STUDY - Fresh Chef ============ */

.project_name, .project_intro, .approach, .concept_development, .takeaways {
  background: #F8F8F8;
}

.approach, .concept_development, .takeaways {
  padding-top: 35px;
}

.project_title, .subtitle, .block_header, .listed_items {
  margin: 0;
}

.project_name {
  padding: 60px 0;
}

.project_title {
  font-weight: 700;
  font-size: 40px;
  text-align: center;
}

.block_header {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 17px;
}

.subtitle {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 15px;
}

.subtitle_desc {
  margin-bottom: 35px;
}

.wireframe_link, .prototype_link {
  text-align: center;
}

.wireframe_link a, .prototype_link a {
  font-size: 18px;
  color: #3292B5;
  font-weight: 700;
}

.persona_image img, .colorpalette_image img, .wireframe_image img {
  width: 100%;
  margin: 0 auto;
} 

.userstory_image, .userflow_image, .mindmap_image {
  text-align: center;
}

.userstory_image img, .userflow_image img, .mindmap_image img {
  width: 100%;

  @media (min-width: 600px){
    width: 60%;
  }
}

.menus_image, .orderpage_image, .mockup_image {
  text-align: center;
}

.menus_image img, .orderpage_image img, .mockup_image img {
  width: 100%;

  @media (min-width: 600px){
    width: 80%;
  }
}








